* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  
  }
  .carousel-inner img {
    height: 70vh;
  }
  .container-fluid{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
  input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 2px 12px 20px;
    transition: ease-in-out, width .20s ease-in-out;
  }
  input[type=text]:focus {
    width: 20%;
  
  }
  .carousel-inner img {
    height: 500px;
  }
  label:hover {
    transform: scale(1.03);
  }
  
  .gallery-h1 h1 {
  
    background-color: rgb(44, 43, 43);
    color: white;
    padding: 20px;
    border-radius: 15px;
  
  }
  
  .details h1 {
    color: white;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(45, 47, 49);
  }
  
  
  .upload {
  
    font-size: 20px;
    background-color: rgb(255, 252, 252);
    border-radius: 20px;
    outline: none;
    width: 315px;
    color: rgb(0, 0, 0);
    border: 3px solid rgb(45, 47, 49);
  
  
  
  }
  
  ::-webkit-file-upload-button {
    color: white;
    padding: 20px;
    border: 2px solid rgb(129, 129, 129);
    background-color: rgb(129, 129, 129);
    border-radius: 15px;
  
  }
  
  ::-webkit-file-upload-button:hover {
    border-radius: 20px;
    border: 2px solid rgb(177, 174, 174);
  
  
  }
  .kanha{
    background: rgba(24, 25, 26, 0.5);
    padding-top: 70px;
    padding-right: 140px;
    padding-bottom: 50px;
    padding-left: 330px;
    border-radius: 500px;
    color: yellow;
    font-size: 170%;
    font-family: 'Rowdies', cursive;
    color: yellow;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    position: absolute;
    padding: 15px 35px;
    background-color: yellow;
    border-radius: 15px;
    color: black;
    font-size: 1.5rem;
    border: 4px solid rgb(31, 185, 190);
    margin-right: 15%;
    margin-top: 2%;
    margin-left: 40%;
  }
  
  .carousel-caption {
    background: rgba(24, 25, 26, 0.5);
    border-radius: 10px;
  }
  .crop{
    margin-right: 0px;
    margin-left: 20%;
    padding-left: 0px;
  }
  .prateek {
    text-size-adjust: 20px;
    border-radius: 50px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: 'Rowdies', cursive;
  }
  
  
  
  .carousel-caption h3 {
  
  
    font-family:'Times New Roman', Times, serif;
    color: yellow;
    text-transform: uppercase;
    margin-bottom: 10px;
  
  }
  
  .carousel-caption p {
    padding: 7px;
  
  
  }
  .img-thumbnail {
    height: 300px;
    border-radius: 50%;
    cursor:pointer
  }
  .img-thumbnail:hover {
    transform: scale(1.1); 
  }
  
  .Content-h5 {
  
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 15px;
    margin-bottom: 25px;
    height:15rem;
    width: 100rem;
  }
  
  .img-preview {
    width: 400px;
    height: 356px;
    position: relative;
    border: 5px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;    
    left: 400;
    bottom:85;
  }
  .img-1{
    width: 350px;
    height: 400px;
  }
  .img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 400px 356px;
    background-repeat: no-repeat;
    background-position: center;
  
  }
  .bibhu{
    margin-left: 36%;
    color: black;
    font-size: 3rem;
    margin-top: 4%;
  }
  .akhil{
    margin-left: 25%;
  }
  .gautam{
    margin-left: 39%;
    margin-top: 25px;
    color: black;
    font-size: 2rem;
  }
  .krishna{
    margin-left: 40%;
  }
  .kusum{
    margin-left: 35%;
    margin-top: 4%;
    color: black;
    font-size: 5rem;
    font-family:'Rowdies', cursive; 
  }
  .mini{
    margin-left: 35%;
    margin-top: 2%;
  }
  .pro{
    height: 100px;
  }
  .let{
    width: 250px;
    margin-right: 50%;
    margin-left: 41%;
    border-radius: 50%;
  
  }
  @media only screen and (max-width: 325px) {
    body {
        font-size: x-small;
    }
  }
  body {
    font-family: Arial;
  }
  
  * {
    box-sizing: border-box;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  body {
    font-family: 'Lato', sans-serif;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(10, 10, 10, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay p {
    padding: 8px;
    text-decoration: none;
    color:white;
    display: block;
    transition: 0.3s;
    font-family: 'Times New Roman', Times, serif;
  }
  .overlay h2 {
    padding: 8px;
    text-decoration: none;
    color:white;
    display: block;
    transition: 0.3s;
    font-family: 'Times New Roman', Times, serif;
  }
  .overlay h3 {
    padding: 8px;
    text-decoration: none;
    color:white;
    display: block;
    transition: 0.3s;
    font-family: 'Times New Roman', Times, serif;
  }
  .overlay p:hover, .overlay p:focus {
    color:red;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay p {font-size:5px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
h2{
  font-family: 'Times New Roman', Times, serif;
}